# GEO877: Spatial Algorithms

# Project: Gazetteer comparison Marine Regions and GeoNames

In [2]:
import numpy as np
import matplotlib as mat
from pyprojroot import here
import json
import pandas as pd
import csv

#GeoNames access
key = "me_toponymboy"
here()
!ls ../GEO877

# Marine Regions Data
"https://geo.vliz.be/geoserver/MarineRegions/wfs"

Gazetteers.ipynb
Gazetteers.py
MarineRegions.csv
MarineRegions_gazetteer_export_2022-05-02.xlsx
Presentation
README.md
__pycache__
discoball.py

'https://geo.vliz.be/geoserver/MarineRegions/wfs'

In [5]:
#Data import Marine Regions

marine_complete = pd.read_excel(here('./MarineRegions_gazetteer_export_2022-05-02.xlsx'))
marine_complete
marine_tidy = marine_complete.drop(labels=["locality","locationID", 'dcterms:language', "isPreferredName", "higherGeographyID","SourceID"], axis=1)

marine_tidy.to_csv (here("./MarineRegions.csv"), index = True, header=True)

In [6]:
#Import tidyied Marine Regions data set
marine = pd.read_csv(here('./MarineRegions.csv'))
marine

,Unnamed: 0,Placetype,geodeticDatum,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,StartLatitude,StartLongitude,EndLatitude,EndLongitude
0,0,Nation,EPSG:4326,50.500750,4.477050,176337.319547,49.497299,2.5466,51.5042,6.4075
1,1,Nation,EPSG:4326,50.500750,4.477050,176337.319547,49.497299,2.5466,51.5042,6.4075
2,2,Nation,EPSG:4326,50.500750,4.477050,176337.319547,49.497299,2.5466,51.5042,6.4075
3,3,Nation,EPSG:4326,50.500750,4.477050,176337.319547,49.497299,2.5466,51.5042,6.4075
4,4,Nation,EPSG:4326,50.500750,4.477050,176337.319547,49.497299,2.5466,51.5042,6.4075
...,...,...,...,...,...,...,...,...,...,...
83665,83665,Sampling Station,EPSG:4326,-21.100020,55.241267,NaN,NaN,NaN,NaN,NaN
83666,83666,Sampling Station,EPSG:4326,-21.011930,55.717350,NaN,NaN,NaN,NaN,NaN
83667,83667,Sampling Station,EPSG:4326,-21.116020,55.269480,NaN,NaN,NaN,NaN,NaN
83668,83668,Bank,EPSG:4326,-22.045000,168.680000,NaN,NaN,NaN,NaN,NaN
83669,83669,Channel,EPSG:4326,49.150556,-123.856111,NaN,NaN,NaN,NaN,NaN

Metadata for GeoNames gazetteer:

The main 'geoname' table has the following fields :
---------------------------------------------------
geonameid         : integer id of record in geonames database
name              : name of geographical point (utf8) varchar(200)
asciiname         : name of geographical point in plain ascii characters, varchar(200)
alternatenames    : alternatenames, comma separated, ascii names automatically transliterated, convenience attribute from alternatename table, varchar(10000)
latitude          : latitude in decimal degrees (wgs84)
longitude         : longitude in decimal degrees (wgs84)
feature class     : see http://www.geonames.org/export/codes.html, char(1)
feature code      : see http://www.geonames.org/export/codes.html, varchar(10)
country code      : ISO-3166 2-letter country code, 2 characters
cc2               : alternate country codes, comma separated, ISO-3166 2-letter country code, 200 characters
admin1 code       : fipscode (subject to change to iso code), see exceptions below, see file admin1Codes.txt for display names of this code; varchar(20)
admin2 code       : code for the second administrative division, a county in the US, see file admin2Codes.txt; varchar(80) 
admin3 code       : code for third level administrative division, varchar(20)
admin4 code       : code for fourth level administrative division, varchar(20)
population        : bigint (8 byte int) 
elevation         : in meters, integer
dem               : digital elevation model, srtm3 or gtopo30, average elevation of 3''x3'' (ca 90mx90m) or 30''x30'' (ca 900mx900m) area in meters, integer. srtm processed by cgiar/ciat.
timezone          : the iana timezone id (see file timeZone.txt) varchar(40)
modification date : date of last modification in yyyy-MM-dd format

In [3]:
# Data import Geonames
# Link to the Metadata: http://www.geonames.org/export/codes.html

results = []
with open('/Users/chaualala/Desktop/allCountries.txt', newline='\n') as inputfile:
    for row in csv.reader(inputfile, delimiter='\t'):
        for row in 
        row = row[0:8]
        results.append(row)
        np.savetxt("./GeoNames.csv", results, delimiter =", ", fmt ='% s')
    print(results)

AttributeError: 'list' object has no attribute 'each_slice'

In [ ]:
geonames = pd.read_csv(here('./GeoNames.csv'))
geonames